one_org_to_another/src/main/mule/one_org_to_another.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<salesforce:sfdc-config name="Salesforce_Config1" doc:name="Salesforce Config" doc:id="8306b0bb-fadd-4a8f-be22-a4aae015f9d6" >
		<salesforce:basic-connection username="vishal@veneratesolutions.com" password="Meeradevi@262" securityToken="E60jR8DkygAVrpbg1yWxdDwj" />
	</salesforce:sfdc-config>
	<salesforce:sfdc-config name="Salesforce_Config2" doc:name="Salesforce Config" doc:id="e717e11e-c358-449d-ab5b-4da5f3bd391a" >
		<salesforce:basic-connection username="vishal.rai@veneratesolutions.com" password="Meeradevi@262" securityToken="bnXzuu7mRqf7diy3BdhWLhvX" />
	</salesforce:sfdc-config>
	<flow name="one_org_to_anotherFlow" doc:id="eb09c887-fcb2-4008-81e6-0c092e2aab68" >
		<scheduler doc:name="Scheduler" doc:id="322adf07-4e24-41b0-844b-71a7a8379896" >
			<scheduling-strategy >
				<fixed-frequency timeUnit="HOURS"/>
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="Flow Reference" doc:id="22fdc3e9-d140-4505-b551-01da20f8b803" name="one_org_to_anotherFlow1"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="54bcd786-44c0-496c-8339-d8011401cf10" variableName="gg"/>
		<salesforce:query doc:name="Query" doc:id="8eb13f71-554c-4459-b26e-7499f7e6dc13" config-ref="Salesforce_Config1">
			<salesforce:salesforce-query ><![CDATA[SELECT LastName from Contact]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="8faee0b2-11fd-4730-ad33-b3332f014181" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	LastName: payload01.LastName
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="b2b837fe-c296-4df8-b702-c95d61b28b93" config-ref="Salesforce_Config2" type="Contact"/>
		<logger level="INFO" doc:name="Logger" doc:id="53d4d832-06be-466e-b352-13cbae1e415b" message="after insert #[payload]"/>
	</flow>
	<flow name="one_org_to_anotherFlow1" doc:id="ca90e2a5-bb30-434c-8574-b93fb38c514f" >
		<file:listener doc:name="On New or Updated File" doc:id="8fdfa83e-a51c-45eb-9ed2-96fcc43554b2" directory="C:\Users\Acer\Desktop\assignment 2">
			<scheduling-strategy >
				<fixed-frequency timeUnit="SECONDS" />
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="51b3851c-ae1d-4f91-8747-c5b0157855a9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
	LastName: payload.LastName
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="2236493d-2e41-449f-9bd0-a028cc49d436" config-ref="Salesforce_Config1" type="Contact"/>
	</flow>
</mule>
